<div class="custom-search-pop"> 
	 	<p> Type in the account you want to use </p>
		<%= f.text_field(account, class: "custom-search-" + label ) %> <br>
		<%= hidden_field_tag 'custom', true %> 
</div>

