<% @favs.each do |f| %>
	<div class="favorite-artist-box">
	<h2> <%= link_to f.name, favorite_path(:id => f.name) %> </h2><br>
	<%= link_to 'Delete', {:action => 'destroy', :id => f.id}, :method => 'delete' %> 
	</div>
<% end %>

<!-- Search in favorites  -->

