
<div class="wrapper artist-page">
	<div class="column-12"> 
		<h1 class="artist-title"> <%= @artist.name %> </h1>
	</div>
	<div class="column-12 artist-head" style="background-image: url(<%= !@artist.images.empty? ? @artist.images.first['url'] : "" %>"> 
	</div>

	<div class="clearfix"></div>


		<% if user_signed_in? and !current_user.favorites.include?(@artist.name) %>
		
		<%= link_to favorites_path(:id => @artist.name), :action => 'create', :method => 'post' do %> 
					                 <div class="column-1">
	                               		<h2> I AM A FAN </h2>
	                               </div> 
		<% end %>  

	 	<% end %>
		
</div>

	





