<h1> <%= @artist.name %> </h1>



<% if user_signed_in? %>
<%= button_to "Add favorite", { action: "add_favorite", id: @artist.id },
                                method: :post, data: { confirm: "Are you sure?" } %>
<% end %>



<% @artist.albums(country: 'US').each do |album| %>
<%= album.name %> <br>
<% end %>
