// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$pink: #F17A7A; 
$pink: #F17A7A; 

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */



html {
	height: 100%;
	width: 100%;
}

* {
	color: black;
	box-sizing: border-box;

}

body {
	background-color: black;
	margin: 0;
	font-family: 'Abel';
}

.clearfix {
	clear: both;
}

p {
	color: white;
	line-height: 140%;
}

a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	color: $pink;
	&:hover {
		color: white;
	};

}

h1 {
	color: white;
	font-size: 50px;
	text-align: center;
	font-family: futura;
}


h2 {
	color: white;
	text-align: center;
	font-family: futura;
	letter-spacing: 4px;

}

h3 { 
	font-family: Abel;
	color: white;
	}

h4 {
	font-family: Abel;
	color: $pink;
}

pre {
	color: $pink;
}

form input[type="submit"] {

	font-size: 20px;
    font-family: abel;
    text-transform: uppercase;
	cursor: pointer;
}

form input {
	font-size: 20px;
	font-family: abel;
	text-align: center;
}

#content {
	position: absolute;
	padding-left: 70px;
	background-color: #0E0D0D;
	min-height: 100%;
	width: 100%;
}

.column-12 {
	width: 50%;	
	float: left;

}

.column-1 {
	width: 100%;
}

.column-13 {
	width: 32%;
	margin-left: 1%;
	background-color: black;
	height: 100px;
	float: left;
	display: table;
	text-align: center;
	h2 {
		display: table-cell;
		vertical-align: middle;
	}
}






.artist-header {
	overflow: auto;
	.column-12 {
		background-color: black;
		display: table;
		text-align: center;
		h1.artist-title {
			font-size: 100px;
			display: table-cell;
			vertical-align: middle;
		}
	} 
	.head-image {
		min-height: 300px;
	}
}


body.body-artist-page #content {

	height: 100%;
	width: 100%;
.artist-page {
	height: 100%;
	width: 100%;

		.artist-head {
			height: 500px;
			width: 100%;
		}
		.column-12 {
			height: 100%;
			width: 50%;
			background-size: cover;
			background-position: 100% center;

		}
		.column-1 {
			display: table;
			text-align: center;


			h2 {
				background-color: $pink;
				display: table-cell;
				vertical-align: middle;
				font-size: 90px;
				&:hover {
				background-color: black;
			};
			}
		}
	}
}



.favorite-menu {
	width: 100%;
	background-color: black;
	top: 0;
	text-align: right;
	    height: 80px;
    overflow: hidden;
	ul {
		float: right;
		margin: 0px 0px 0px 0px;
		padding: 0px;

		li {
			color: white;
			display: inline-block;
			list-style: none;
			padding: 15px;
			&:hover {
				background-color: white;
			}
			a{
				color: white;
				padding: 20px;
			}
			i {
				color: white;
				font-size: 30px;
			}
		}
	}
}

.artist-header {
	overflow: auto;
	.column-12 .inside-box {
		padding: 0px;
	}
	.title-box {
		display: table;
		text-align: center;
		background-color: #191919;
		h1 {
			font-size: 100px;
			display: table-cell;
			vertical-align: middle;
			color: white;
		}
		.edit {
			width: 70%;
			border-top: 1px solid white;
			margin: 0 auto;
		    padding: 20px;
		}
	} 
	.head-image {
		min-height: 500px;
		background-size: 100% ;
		background-position: center 40;
		background-size: cover;
		background-repeat: no-repeat;

	}
}



/* ALL FAVORITES PAGE */

.favorite-artist-box {
	width: 100%;
	padding: 20px;
	text-align: center;
	color: white;
	border-bottom: 1px solid white;
	&:hover {
		background-color: white;
		a {
			color: black;

		}
	};
	h2 {
		color: white;
		font-size: 50px;
		letter-spacing: 10px;
	}
	a {
		color: white;
		margin-left: 20px;
		&:hover {
			color: $pink;
		}
	}
}

 /* ONE FAVORITE PAGE */

	.column-12 {
		display: table;
		float: left;
		padding: 40px 0px 0px 0px;
		height: 680px;
		text-align: center;
		.inside-box {
			display: table-cell;
			vertical-align: middle;
			padding: 0px 40px 80px 40px;
		}	
	}

	.twitter-box {
		background-color: #212020;
		display: table-cell;
		vertical-align: middle;
	}

	.tour-box {
		background-color: #0E0D0D;
		p:hover {
			color: $pink;
		};
	}
	.insta-box {
		padding: 0px;
		background-color: black;
		display: table-cell;
		h2.box-header {
			display: none;
		}

		#instafeed {
			position: relative;
		}

		.caption {
			display: none;
		}

		img {
			width: 33%;
			margin-bottom: -6px;
		
		}
		a:hover {
			.caption {
					opacity: 1;
				}
			};

	}

	.news {
		padding: 0px;
		background-color: black;
		.tweet {
			padding-left: 40px;
		}
		h2.box-header {
			padding-top: 40px;
		}
	}

	

	.insta-img {
	width: 33.33333%;	
	margin-left: -3px;
	margin-bottom: -3px;	
	border: 6px solid black;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	transition: 0.3s ease;
	cursor: pointer;
	&:hover {
		transform: scale(1.1);
		}
	}
	



h2.box-header {
	color: white;
	font-size: 40px;
	margin: 0px;
	padding-bottom: 30px;
	text-align: center;
}

.tweet {
	width: 100%;
	color: white;
	padding: 10px;
	text-align: left;
	h3:hover {
		color: $pink;
	};
	i {
		color: white;
		font-size: 20px;
		text-align: left;
		margin-left: 20px;
		float: left;
		margin-top: 15px;
	}
}

.custom-search {
	h3 {
		cursor: pointer;
	}
	.custom-search-pop {
	display: none;

		input[type="text"] {
			height: 40px;
		}
	}
}


/* EDIT FAVORITE */

.container {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 100px;
}

table {
	width: 60%;
	margin: 0 auto;
	text-align: left;
	td:nth-child(even) {
		text-align: right;
	}
	tr.tfoot {
		margin-top: 20px;
		cursor: pointer;
	}
	}

	form {
		text-align: center;
		input[type="text"] {
			height: 70px;
			width: 50%;
			margin-top: 20px;
		}

		input[type="checkbox"] {	
			text-align: center;
		}
		label {
			color: white;
			margin-bottom: 20px;
			font-size: 20px;
		    text-transform: uppercase;
		    letter-spacing: 3px;
		}

		input[type="submit"] {
			width: 200px;
		    border: 0px;
		    padding: 10px;
		    background-color: $pink;
		    &:hover {
				background-color: white;
			}

		}
	}
/*.media {
	width: 100%;
	height: 75px;
}

.player {
	background-color: white !important;

}*/


/* FRONT PAGE */ 


form#search input[type="text"] {
	width: 100%;
    height: 200px;
    border: 0px;
    font-size: 100px;
    background-color: #151515;
    padding: 20px;
    color: white;
    text-align: center;	
    margin-top: 0px;
}

form#search input[type="submit"] {
	width: 100%;
	height: 50px;
	border: 0px;
	background-color: $pink;
	top: -20px;
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	cursor: pointer;
	&:hover {
		background-color: black;
	};

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.first-page .column-12 {
	height: 400px;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
	}
}



.first-page .secondary-artist {
	height: 200px;
	overflow: auto;
	background-color: #191919;
	border-bottom: 1px solid white;
	padding: 20px;
	display: table;
	text-align: center;
	h2 {
		font-size: 30px;
		color: white;
		display: table-cell;
		vertical-align: middle;
	}
	&:hover {
		background-color: black;
	};
}

.first-page .right {
	background-color: black;
	color: white;
	display: table;
	text-align: center;
	h2 {
		display: table-cell;
		vertical-align: middle;
		color: white;
		font-size: 80px;
	}

}

.start-info {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;

	h2 {
		font-family: futura;
		color: white;
		font-size: 130px;
		margin: 0px;
		letter-spacing: 6px;
		transition: 0.4s ease-in-out;
		-webkit-transition: 0.4s ease-in-out;
		-moz-transition: 0.4s ease-in-out;
		



	}
	h3 {
		font-family: Abel	;
		color: white;
		font-size: 30px;
		margin: 0px;
		padding: 70px;
		font-weight: 100;
		text-transform: uppercase;
		line-height: 150%;
		backdrop-filter: blur(5px);

	}
}

#section1 {
	height: 500px;
	width: 100%;
	display: table;
	background-image: url('crowd.gif');
	background-size: cover;
	transition: 0.4s ease-in-out;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;

}

#section2 {
	height: 340px;
	background-color: black;
	p {
		margin-top: 40px;
	}
	span {
		background-color: $pink;
		font-size: 40px;
		padding: 10px;
		margin-top: 50px;
		cursor: pointer;
		&:hover {
			background-color: white;
		};
	}

}

#section3 {
	overflow: auto;
	background-color: black;
	.column-12 {
		padding-top: 0px;
		height: 500px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.right {
		display: table;
		background-color: #151515;
		text-align: center;
		h1 {
			display: table-cell;
			vertical-align: middle;
			font-size: 50px;
		}
	}
	.similar-list {
		overflow: auto;
		margin-top: 30px;
		h2 {
			color: white;
			text-align: center;
			padding: 30px;
		}
		h3 {
			text-align: center;
			margin: 0px;
    		padding: 20px;
			&:hover {
				background-color: white;
				color: black;
			}
		}
	}
	
}

.search-form {
	display: none;
}


/* DEVISE FORM SETTINGS */

body.body-devise-sessions-page, body.body-devise-passwords-page, body.body-devise-registrations-page {
	
	#content {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	form {
		width: 50%;
		margin: 0 auto;


		input {
			height: 50px;
			width: 100%;	
			margin-bottom: 20px;	
			margin-top: 10px;	
		}
		label {
			margin-bottom: 10px;
		}
	}
	h3,p, a {
		text-align: center;
	}
	em, li {
		color: gray;
	}
	i {
		color: gray;
		display: block;
	}
	ul {
		-webkit-padding-start: 0px;
	}
	li {
		list-style-type: none;
		text-indent: none;
	}
}
.devise-links {
	margin: 0 auto;
	text-align: center;
}

body.body-profile-page .wrapper {
	width: 70%;
	overflow: auto;
	margin: 0 auto;
	.column-1 {
		padding: 40px;
		width: 95%;
		margin: 0 auto;
		margin-bottom: 20px;
		table {
			width: 70%;
		}
		table tr td {
			color: #DEDEDE;
			}

	}
	.column-12 {
		background-color: black;
		height: 200px;
		margin: 0 auto;
		margin-left: 20px;
		width: 46%;
		display: table;
		padding: 0px;
		&:hover {
			background-color: white;

		};
		h2 {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

