#nav {
	background: black;
	height: 100%;
	width: 70px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

}

.nav-box {
	height: 70px;
	width: 70px;
	display: table;
	text-align: center;
	background-color: black;

	a, p {
		display: table-cell;
		vertical-align: middle;
		color: white;
	}

	&:hover {
		background-color: red;
	}

	i {
		color: white;
		font-size: 23px;
	}
}

.hidden-nav-box {
	height: 70px;
	width: 70px;
	position: absolute;
	left: -90px;
	display: table;
	p {
		display: table-cell;
	vertical-align: middle;

	}
}

.nav-box:hover .hidden-nav-box {
	left: 70px;
}